# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Default Owners
#*       @marc-mueller


#*.cs    @marc-mueller @knoxi

# Owners for specific folders
HelloWorld/Controllers/*    @marc-mueller
HelloWorld/Database/*       @knoxi