<div class="row" style="margin-bottom:50px;margin-top:50px">
    <img src="~/images/4tecture.png" class="img-fluid" alt="Responsive image" style="max-width: 60%" />
</div>

<div class="row" style="font-size:20pt">
    <div class="col-md-4">
        <label>Message:</label>
    </div>
    <div class="col-md-8">
        <span>@ViewData["Message"]</span>
    </div>
</div>
